#movies img,
#movie img {
    width: 100%
}

@media screen and (min-width: 450px) {
    #movies .col-md-3 .well {
        height: 390px;
    }
    #movies .col-md-3 img {
        height: 240px;
    }
}